@page "/services"
@inject NavigationManager Navigation

<PageTitle>Redirection - SympNet</PageTitle>

<div style="display: flex; justify-content: center; align-items: center; height: 100vh; color: #00897B;">
    <i class="fas fa-circle-notch fa-spin fa-3x"></i>
</div>

@code {
    protected override void OnInitialized()
    {
        Navigation.NavigateTo("/#services");
    }
}
